/* Main features */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  padding-left: 160px;
  padding-right: 160px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
/* End of main features */

/* Navbar */
.navbar {
  height: 80px;
}

.logo {
  margin-right: 8px;
  display: flex;
}

.logo-title {
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #23262f;
  margin-right: 66px;
  padding-bottom: 6px;
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-item {
  margin-right: 32px;
}

.second-item {
  padding-right: 30px;
  margin-right: 150px;
}

.nav-item-first-second {
  display: flex;
  align-items: center;
}

form {
  color: #777e91;
  display: flex;
  padding: 2px;
  border: 2px solid #e6e8ec;
  border-radius: 8px;
  margin: 0 0 0 150px;
}
input[type="search"] {
  border: none;
  background: transparent;
  margin-right: 70px;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #777e91;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #23262f;
}

.notification-icon {
  margin: 0 32px 0 32px;
}

.nav-item-dot {
  position: relative;
}

.dot-icon {
  position: absolute;
  left: 50px;
  top: 7.5px;
}

.button-nav {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 90px;
  padding: 12px 16px;
}
.btn-upload {
  background: #3772ff;
  color: #fcfcfd;
  width: 100px;
  height: 40px;
  border: none;
  margin: 2px 12px 0 0;
}
.btn-wallet {
  background: transparent;
  border: 2px solid #e6e8ec;
  color: #23262f;
  width: 145px;
}

/* End of Navbar */

/* Section 1 */
.container {
  text-align: center;
}
.container > p {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #777e91;
  margin-top: 128px;
  margin-bottom: 8px;
}

.container > h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #23262f;
}

.btn-container {
  width: 182px;
  margin-top: 24px;
}
/* End of Section 1 */

.container-all {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.container-2 {
  margin-top: 128px;
  display: flex;
}
.row-container {
  width: 750px;
  height: 800px;
}
.container-img {
  padding: 0;
  width: 640px;
  height: 800px;
  border-radius: 16px;
}
.col-container {
  background-color: #3772ff;
  width: 352px;
  margin-left: 128px;
  width: 460px;
  justify-content: flex-end;
}

.section-3 {
  margin-left: 0;
  margin-right: 0;
}
.container-3 {
  background-color: #3772ff;
  margin-top: 136px;
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  margin-right: 0;
}
